@import "../../../styles";


.orgli-container {
  //margin-top: 200px;
  //background-color: red;
  display: grid;
  grid-template-areas: ". h h ." ". c1 c2 ."  ". f f .";
  grid-template-columns: 20% 1fr 3fr 20%;
  grid-template-rows: 50px auto 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.orgli-col1, .orgli-col2 {
  border: 1px solid #a7bcc6;
  mat-form-field {
    @include form-field-border;
    font-size: .8rem;
  }
}

.orgli-header {
  display: flex;
  grid-area: h;
  justify-content: space-around;
  @include header-background;
  grid-row-gap: 10px;

  button {
    height: 100%;
    align-self: flex-end;
  }
}

.orgli-col1 {
  grid-area: c1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: beige;
}

.orgli-col2 {
  padding: 5px;
  grid-area: c2;
  display: grid;
  grid-template-areas: "a b" "c b" "d b" ;
  row-gap: 5px;
  column-gap: 5px;

mat-form-field {
  padding: 5px;
}
  & > mat-form-field:nth-child(1) {
      grid-area: a;
      //background-color: blanchedalmond;
    }
  & > mat-form-field:nth-child(2) {
      grid-area: b;
      //background-color: lightcyan;
    }
  & > mat-form-field:nth-child(3) {
      grid-area: c;
      //background-color: red;
    }
  & > mat-form-field:nth-child(4) {
      grid-area: d;
      //background-color: gold;
    }

  //grid-row-gap: 10px;
}

.orgli-footer {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  grid-area: f;
  @include header-background;

  & > button {
    height: 40px;
  }
}

//.dynamic-subform-tel, .dynamic-subform-email, .dynamic-subform-web {
//
//  border: 1px solid #a7bcc6;
//  width: 100%;
//  border-radius: 5px;
//  padding: 10px;
//  margin-bottom: 10px;
//
//  mat-form-field {
//    border: none;
//  }
//}
//
//.dynamic-subform-tel {
//  grid-area: dx;
//
//}
//
//.dynamic-subform-email {
//  grid-area: dx1;
//}
//
//.dynamic-subform-web {
//  grid-area: dx2;
//
//}
//
//
//table {
//  width: 100%;
//}

//.mat-row.highlighted {
//
//  background-color: greenyellow;
//
//}

.mat-row:hover {
  background-color: lighten(red, 40%);
}

//::ng-deep .linestyle{
//  color: #88bcfb !important;
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//  font-size: .78rem;
//}
