
.eoc-container {
  width: 1000px;
  background-color: green !important;
  height: 100vh;
  margin-left: 300px !important;

}


*[mat-mini-fab] {
  background-color: dodgerblue;
}
mat-card {
//margin: 10 0;
//  margin-top: 100px;

    display: flex;
    flex-flow: column;
  flex: 1 1 auto;
  justify-content: center;
  //align-content: center;
  //justify-items: center;
  align-items: center;
  width: 800px;
  & mat-form-field {
    display: flex;flex-flow: row wrap;
    justify-items: center;
    //background-color: blue;

  }
}

.orgEditContainer {
  & mat-card {

  }
  //width: 100%;

}

.matIcon {
    color: mix(black, dodgerblue, 20%);
    font-size: 30px;
}

.alignRight {
float: right;
  top: -25px;
  right: -15px;

  margin-right: -15px;
  padding: 0;
  margin-top: -15px;

}

table {
  border-top: 120px;
}
//mat-icon {

//
//}