<div class="spa1-container">
    <div class="spa1-header">
        PERSON DETAILS
       <button
               matTooltip="Add another person"
               mat-button
               (click)="addAnotherPerson()">
           <mat-icon>person_add</mat-icon>
       </button>
    </div>
    <div class="spa1-row1">
        <ng-container *ngTemplateOutlet="row1Tmpl"></ng-container>
    </div>
    <div class="spa1-row2">

        <app-email-editable-sf
                [farn]="'emails'"
                [activeFormGroup]="formGroup" >
        </app-email-editable-sf>
        <app-telno-editable-sf
                [farn]="'telNos'"
                [activeFormGroup]="formGroup" >
        </app-telno-editable-sf>
        <app-web-editable-sf
                [farn]="'web'"
                [activeFormGroup]="formGroup"
        ></app-web-editable-sf>
    </div>
    <app-stepp-navbar style="grid-area:f"></app-stepp-navbar>
</div>

<ng-template #row1Tmpl>
    <ng-container [formGroup]="formGroup">
        <mat-form-field>
            <mat-select
                    matInput
                    formControlName="title">
                <mat-option [value]="tit" *ngFor="let tit of ['Mr', 'Mrs']">{{tit}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input
                    placeholder="first name"
                    type="text"
                    matInput
                    formFieldControl="firstName">
        </mat-form-field>
        <mat-form-field>
            <input type="text"
                   placeholder="last name"
                   matInput
                   formControlName="lastName">
        </mat-form-field>
    </ng-container>
</ng-template>
