<div class="spa1-container">
    <div class="spa1-header">
        PERSON DETAILS
       <button
               matTooltip="Add another person"
               mat-button
               (click)="addAnotherPerson()">
           <mat-icon>person_add</mat-icon>
       </button>
    </div>
    <div class="spa1-row1">
        <ng-container *ngTemplateOutlet="row1Tmpl"></ng-container>
    </div>
    <div class="spa1-row2">
        <ng-container *ngTemplateOutlet="telEditTempl; context:{fm: formGroup, parent: me}"></ng-container>
        <ng-container *ngTemplateOutlet="emailEditTempl; context:{fm: formGroup, parent: me}"></ng-container>
        <ng-container *ngTemplateOutlet="webEditTempl; context:{fm: formGroup, parent: me}"></ng-container>

    </div>
    <div class="spa1-footer">
        <button mat-button matStepperNext>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>

<ng-template #row1Tmpl>
    <ng-container [formGroup]="formGroup">
        <mat-form-field>
            <mat-select
                    matInput
                    formControlName="title">
                <mat-option [value]="tit" *ngFor="let tit of ['Mr', 'Mrs']">{{tit}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input
                    placeholder="first name"
                    type="text"
                    matInput
                    formFieldControl="firstName">
        </mat-form-field>
        <mat-form-field>
            <input type="text"
                   placeholder="last name"
                   matInput
                   formControlName="lastName">
        </mat-form-field>
    </ng-container>
</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
 Telephone Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #telEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <ng-container>
            <table class="dynamic-subform-tel">
                <tr formArrayName="telNos" *ngFor="let telno of fm.get('telNos').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <!--<mat-label>TelNo</mat-label>-->
                                <input matInput formControlName="telNo" placeholder="Telephone">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <!--<mat-label></mat-label>-->
                                <input matInput formControlName="note" placeholder="comment">
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('telNos')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('telNos', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>

                    </ng-container>
                </tr>
            </table>
        </ng-container>
    </ng-container>
</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
 Email Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #emailEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table class="dynamic-subform-email">
                <tr formArrayName="emails" *ngFor="let email of fm.get('emails').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>

                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('emails')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('emails', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>
</ng-template>

<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
Web Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #webEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table class="dynamic-subform-web">
                <tr formArrayName="web" *ngFor="let telno of fm.get('web').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Url</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('web')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('web', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>


                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>
</ng-template>
