<mat-card class="mat-elevation-z3 mat-card-spacer">

        <div class="camp-grid-container"
             [formGroup]="_formGrp">
            <!-- 1st cell-->
            <div class="grid-item">
                <mat-form-field>
                    <!--<input matInput formControlName="actionPriority">-->
                    <mat-select matInput formControlName="actionPriority" [placeholder]="lbs.actionPriority">
                        <mat-option *ngFor="let pty of priorities" [value]="pty">{{pty}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="grid-item">
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="actionPriority">
                    <input type="text"
                           placeholder="{{lbs.action}}"
                           aria-label="Number"
                           matInput
                           [matAutocomplete]="auto"
                           formControlName="action">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of actionNeeded;"
                                    [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- 2nd cell -->
            <div class="grid-item">
                <!--<app-typeahead-reactive-form-->
                        <!--[formGroup]="itm"-->
                        <!--[lookUpData]="orgs">-->
                <!--</app-typeahead-reactive-form>-->

            </div>
            <div class="grid-item">
                <mat-form-field>

                    <mat-label>{{lbs.personsId}}</mat-label>
                    <input matInput formControlName="personsId">
                </mat-form-field>
            </div>
            <!--
             3rd column
            -->
            <div class="grid-item grid-item-description">
                <mat-form-field>
                                <textarea placeholder="Describe in 5 lines"
                                          cdkTextareaAutosize
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="1"
                                          cdkAutosizeMaxRows="3"
                                          matInput formControlName="notes"></textarea>
                </mat-form-field>
            </div>


            <!--
          4rd column
          -->

            <!--<div class="grid-item grid-item-delete-col">-->
            <!--<button mat-mini-fab color='warn' (click)="deleteItem($event, idx)">-->
            <!--<mat-icon>delete</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!-- 5th column -->
            <div class="grid-item">
                <mat-form-field>
                    <mat-label>{{lbs.startOn}}</mat-label>
                    <input matInput
                           [matDatepicker]="myDatepicker"
                           formControlName="finishOn">
                    <mat-datepicker-toggle
                            matSuffix
                            [for]="myDatepicker">
                    </mat-datepicker-toggle>

                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="grid-item">
                <mat-form-field>
                    <mat-label>{{lbs.finishOn}}</mat-label>
                    <input matInput
                           [matDatepicker]="finishOnDatepicker"
                           formControlName="finishOn">
                    <mat-datepicker-toggle
                            matSuffix
                            [for]="finishOnDatepicker">
                    </mat-datepicker-toggle>

                    <mat-datepicker #finishOnDatepicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!--
            6th
           -->
            <div class="grid-item">

                <mat-checkbox matInput formControlName="done">{{lbs.done}}</mat-checkbox>
            </div>
            <div class="grid-item">

                <mat-form-field>
                    <mat-label>{{lbs.rating}}</mat-label>
                    <input matInput formControlName="rating">
                </mat-form-field>
            </div>
            <div class="mat-card">
                <button mat-raised-button (click)="onCancel()">CANCEL</button>
                <button mat-raised-button (click)="onOK()">OK</button>
            </div>
        </div>


</mat-card>