<!--
name: string;
    description: string;
    id: string;
    personsId: string[];
    orgId: string;
    notes: string[];
    action: string;
    actionDate: Date;
    actionPriority: 'Hi' | 'Low' | 'Med' | 'Urge';
    done: boolean;
    rating: number; // 1 - 5;

-->

<div [formGroup]="formGrp" id="addscrolls">

    <mat-toolbar>
        <span class="mat-h4">CREATE A CAMPAIGN</span>
    </mat-toolbar>
    <mat-card id="titleCard">

            <mat-form-field>
                <mat-label>{{enCamp.name}}</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{enCamp.description}}</mat-label>
                <textarea type="text"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="3"
                          matInput cdkTextareaAutosize
                          formControlName="description"></textarea>
            </mat-form-field>


    </mat-card>
    <mat-card>
        <app-campaign-item-edit [formGroup]="formGrp"
                                [formArrayName]="'items'"
                                [newItem]="newCampaignItem()">
        </app-campaign-item-edit>


    </mat-card>

    <!--example-->
    <!--<app-comms-sform [formGroup]="formGrp"-->
    <!--[formArrayName]="'comments'"-->
    <!--[newItem]="newCommItem"></app-comms-sform>-->

    <mat-toolbar>
        <button mat-raised-button color="warn" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onSave()">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="onReset()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar>


</div>


<ng-template #campItmsTemplate let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <ng-container>
            <table>
                <tr class="table-layout" formArrayName="items"
                    *ngFor="let itm of fm.get('items').controls; let idx= index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>TelNo</mat-label>
                                <input matInput formControlName="id">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="notes">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="action">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="action">
                            </mat-form-field>
                        </td>

                        <a (click)="parent.deleteItem($event, idx)">
                            <mat-icon>delete_outline</mat-icon>
                        </a>
                    </ng-container>
                </tr>
            </table>
        </ng-container>

    </ng-container>

    <!--<ng-container [formGroup]="fm">-->
    <!--<div class="table-layout" formArrayName="items" *ngFor="let itm of fm.get('items').controls; let i= index">-->
    <!--<ng-container [formGroupName]="i">-->
    <!--<mat-form-field>-->
    <!--<mat-label>id</mat-label>-->
    <!--<input type="text" matInput formControlName="id">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
    <!--<mat-label>Name</mat-label>-->
    <!--<input type="text" matInput formControlName="notes">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
    <!--<mat-label>Name</mat-label>-->
    <!--<input type="text" matInput formControlName="action">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<mat-label>Name</mat-label>-->
    <!--<input type="text" matInput formControlName="actionDate">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<mat-label>Name</mat-label>-->
    <!--<input type="text" matInput formControlName="actionPriority">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<mat-label>Name</mat-label>-->
    <!--<input type="text" matInput formControlName="done">-->
    <!--</mat-form-field>-->
    <!--</ng-container>-->
    <!--</div>-->
    <!--</ng-container>-->


</ng-template>