<!--
name: string;
    description: string;
    id: string;
    personsId: string[];
    orgId: string;
    notes: string[];
    action: string;
    actionDate: Date;
    actionPriority: 'Hi' | 'Low' | 'Med' | 'Urge';
    done: boolean;
    rating: number; // 1 - 5;

-->

<div [formGroup]="formGrp" id="addscrolls">

    <mat-toolbar>
        <span class="mat-h4">CREATE A CAMPAIGN</span>
    </mat-toolbar>
    <mat-card id="titleCard">

        <mat-form-field>
            <mat-label>{{enCamp.name}}</mat-label>
            <input type="text"
                   matInput
                   formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{enCamp.description}}</mat-label>
            <textarea type="text" style="background-color: lightgrey"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="3"
                      matInput cdkTextareaAutosize
                      formControlName="description"></textarea>
        </mat-form-field>
        <mat-card class="mat-elevation-z3 mat-card-spacer">
            <div style=" width: 100%; display: block">
                <mat-icon class="matIcon">chat</mat-icon>
                <button mat-mini-fab
                        class="alignRight"
                        (click)="onAddNew()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-card>
        <mat-card>
<!--            <ng-container *ngTemplateOutlet="tmpl1"></ng-container>-->
        </mat-card>


        <mat-toolbar>
            <button mat-raised-button
                    color="warn"
                    (click)="onCancel()">
                <mat-icon>cancel</mat-icon>
            </button>
            <button mat-raised-button
                    color="primary"
                    (click)="onSave()">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-raised-button
                    color="accent"
                    (click)="onReset()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar>

    </mat-card>
    <div class="camp-item-table">

        <div *ngFor="let itm of formGrp['items'].controls; let idx = index; let b = testval"
             formArrayName="items">
            <ng-container [formGroupName]="idx">
                <!--idx: {{idx}}-->
                <!--<hr>-->
                <!--item: {{itm.value | json}}-->


                <ng-container
                        *ngTemplateOutlet="campItmReadOnlyRow; context: {formGroup:formGrp, itm: itm, idx: idx , formGroupName:  idx, formArrayName: 'items'}">

                </ng-container>
            </ng-container>
        </div>

    </div>

    <!--
    =====================================================================================================================================
                                        Templates

    =====================================================================================================================================
    -->

    <!--
      ................... ................... ................... ................... ................... ................... ...................
                                         POPUP EDITABE FORM Popup Editable form

       ................... ................... ................... ................... ................... ................... ...................
      -->
    <ng-template #PopupEditableCampItmForm>

        <div>
            in here we have some data!
        </div>

    </ng-template>


    <!--
  ................... ................... ................... ................... ................... ................... ...................
                                      TABLE ROWS: Read only table rows

   ................... ................... ................... ................... ................... ................... ...................
  -->
    <ng-template #campItmReadOnlyRow
                 let-itm="itm"
                 let-idx="idx"
                 let-formArrayName="formArrayName"
                 let-formGroupName="formGroupName"
                 let-formGroup="formGroup">
        <ng-container [formGroup]="formGroup">
            <ng-container formArrayName="items">

                <div class="camp-item-row" [formGroupName]="idx">
                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="notes">
                    </div>

                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="action">
                    </div>

                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="actionPriority">
                    </div>

                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="typeOfAction">
                    </div>

                    <div class="camp-item-cell">
                            <input type="text"
                                   readonly
                                   class="mat-body-1"
                                   formControlName="personsId">
                    </div>


                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="startOn">
                    </div>


                    <div class="camp-item-cell">
                        <input type="text"
                               class="mat-body-1"
                               formControlName="finishOn">
                    </div>

                    <div class="camp-item-cell">
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item (click)="doEditCampaignItem(idx)">
                                <mat-icon>
                                    edit
                                </mat-icon>
                                &nbsp;
                                Edit
                            </button>
                            <button mat-menu-item>
                                <mat-icon>
                                    view_list
                                </mat-icon>
                            </button>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>


    </ng-template>


    <!--
 ................... ................... ................... ................... ................... ................... ...................

                                                        TABLE NOT USE
................... ................... ................... ................... ................... ................... ...................
  -->
    <ng-template #campItmsTemplate1 let-fm="fm" let-parent="parent">

        <ng-container [formGroup]="fm">
            <ng-container>
                <table>
                    <tr class="table-layout" formArrayName="items"
                        *ngFor="let itm of fm.get('items').controls; let idx= index">
                        <ng-container [formGroupName]="idx">
                            <td>
                                <mat-form-field>
                                    <mat-label>TelNo</mat-label>
                                    <input matInput formControlName="id">

                                    <!--<input matInput formControlName="note">-->
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-label>Notes</mat-label>
                                    <input matInput formControlName="notes">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-label>Notes</mat-label>
                                    <input matInput formControlName="action">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-label>Notes</mat-label>
                                    <input matInput formControlName="action">
                                </mat-form-field>
                            </td>

                            <a (click)="parent.deleteItem($event, idx)">
                                <mat-icon>delete_outline</mat-icon>
                            </a>
                        </ng-container>
                    </tr>
                </table>
            </ng-container>

        </ng-container>


    </ng-template>