<div eoc-container >
    <div [formGroup]="formGrp" novalidate (submit)="$event.preventDefault()" class="orgEditContainer">
        <mat-card>
            <mat-card-title>
                Edit
                <mat-icon><span style="font-size: 20px; color: greenyellow"></span></mat-icon>
                <button mat-stroked-button matTooltipng="Add a person" (click)="navToPerson()">
                    <mat-icon>person_add</mat-icon>
                </button>
                <button (click)="inspect()">inspect</button>
            </mat-card-title>
            <mat-card-content>
                <!--js;fj;sajf;lsaj;lfjsd;lkjfl;asjfl;saj;ldfjsal;jf;lsajfl;asj;flsajl;fjals;jfl;sajfl;sa;j;lsj;lfl;s-->

                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal Info
                            </mat-panel-title>
                            <mat-panel-description>
                                Type your name and age
                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-card >



                            <!--NAME-->
                            <mat-form-field>
                                <mat-label>title</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="firstName">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>first name</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="firstName">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>last name</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="lastName">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Known as</mat-label>
                                <input type="text"
                                       matInput
                                       formControlName="nickName">
                            </mat-form-field>


                            <mat-form-field class="example-full-width" >

                                <input type="text" placeholder="Representing Enterprise" aria-label="Number"
                                       matInput [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="orgSelected($event)">
                                    <mat-option  appOption="{name:'freelance1', id: '666'}" [value]="'freelance'">freelance</mat-option>
                                    <mat-option *ngFor="let option of companies$ | async;"
                                                appOption="{{option.name}}"
                                                appKey="{{option.orgId}}"
                                                [value]="option.name">
                                        {{option.orgId}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-card>

                        <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Telephone and Mobile
                            </mat-panel-title>
                            <mat-panel-description>
                                input multiple telephone No. and Mobiles
                                <mat-icon>map</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <!--tel nos-->
                        <app-subform-table [formGroup]="formGrp"
                                           [formArrayName]="'telNos'"
                                           [newItem]="newTelNo"
                                           [template]="telEditTemplate"></app-subform-table>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               Email Address
                            </mat-panel-title>
                            <mat-panel-description>
                                Email contact
                                <mat-icon>date_range</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <app-subform-table [formGroup]="formGrp"
                                           [formArrayName]="'emails'"
                                           [newItem]="newEmailAdd"
                                           [template]="emailEditTemplate"></app-subform-table>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Websites and Social Media
                            </mat-panel-title>
                            <mat-panel-description>
                                Website Url's
                                <mat-icon>date_range</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <app-subform-table [formGroup]="formGrp"
                                           [formArrayName]="'web'"
                                           [newItem]="newWebItem"
                                           [template]="webEditTemplate"></app-subform-table>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Comments
                            </mat-panel-title>
                            <mat-panel-description>
                                Comments and records of Convesations
                                <mat-icon>date_range</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <app-comms-sform [formGroup]="formGrp"
                                         [formArrayName]="'comments'"
                                         [newItem]="newCommItem">

                        </app-comms-sform>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                </mat-accordion>



                <!--jf;lsajf;lsa;kfj;lsaj;lkfjas;ljf;lsajl;kfjas;ljfl;sajl;fjsal;fjlsa;jfl;sajfl;sja;lsjal;sdjasd-->




                <!---->


            </mat-card-content>



            <mat-card-actions>


                <button mat-stroked-button (click)="onCancel()">CANCEL</button>
                <button mat-stroked-button (click)="reset()">CLEAR</button>
                <button mat-stroked-button (click)="onSave()">SAVE</button>
                <button mat-stroked-button (click)="addDummye()">ADD DUMMYE</button>
            </mat-card-actions>
            <mat-card-footer>

            </mat-card-footer>

        </mat-card>

        <!--{{validations}}-->
    </div>
</div>





<!--
                                                    T E M P L A T E S   //


-->


<ng-template #telEditTemplate let-fm="fm" let-parent="parent">
    <div style=" width: 100%; display: block">
        <mat-icon class="matIcon">contact_phone</mat-icon>
        <button mat-mini-fab class="alignRight">
            <mat-icon (click)="parent.addItem($event)">add</mat-icon>
        </button>
    </div>







    <ng-container [formGroup]="fm">
        <ng-container>
            <table>
                <tr formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>TelNo</mat-label>
                                <input matInput formControlName="telNo">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>

                        <a (click)="parent.deleteItem($event, idx)">
                            <mat-icon>delete_outline</mat-icon>
                        </a>
                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>

</ng-template>


<ng-template #emailEditTemplate let-fm="fm" let-parent="parent">

    <div style=" width: 100%; display: block">
        <mat-icon class="matIcon">contact_mail</mat-icon>
        <button mat-mini-fab class="alignRight">
            <mat-icon (click)="parent.addItem($event)">add</mat-icon>
        </button>
    </div>

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table>
                <tr formArrayName="emails" *ngFor="let email of formGrp.get('emails').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>

                        <a (click)="parent.deleteItem($event, idx)">
                            <mat-icon>delete_outline</mat-icon>
                        </a>
                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>

</ng-template>


<ng-template #webEditTemplate let-fm="fm" let-parent="parent">
    <div style=" width: 100%; display: block">
        <mat-icon class="matIcon">cloud</mat-icon>
        <button mat-mini-fab class="alignRight">
            <mat-icon (click)="parent.addItem($event)">add</mat-icon>
        </button>
    </div>

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table>
                <tr formArrayName="web" *ngFor="let telno of formGrp.get('web').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Url</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>
                        <td><a (click)="parent.deleteItem($event, idx)">
                            <mat-icon>delete_outline</mat-icon>
                        </a></td>


                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>

</ng-template>
