<div class="fil-container">
    <div class="fil-searchbar">
        <mat-form-field *ngIf="false">

            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="find">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <!--    <div class="fil-main">-->
    <!---->
    <!--    </div>-->
    <cdk-virtual-scroll-viewport itemSize="45" style="height: 400px">
        <div class="fil-main" *ngFor="let dat of dataSource$ | async | wordSearch:term : fldName">
            <div class="linestyle1" (click)="onSelected(dat)">{{dat[fldName]}}</div>
        </div>
    </cdk-virtual-scroll-viewport>




    <div class="button-bar">
        <!--        s-->
        <button mat-stroked-button
                (click)="addNew()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-stroked-button
                (click)="remove($event)">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>
