<mat-card class="mat-elevation-z3 mat-card-spacer">
    <div style=" width: 100%; display: block">
        <mat-icon class="matIcon">chat</mat-icon>
        <button mat-mini-fab class="alignRight" (click)="addItem($event)">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!--
    {{lbs.rating}}
          {{lbs.done}}
          {{lbs.actionPriority}}
          {{lbs.finishOn}}
          {{lbs.startOn}}
          {{lbs.typeOfAction}}
    -->
    <ng-container [formGroup]="formGroup">
        <!--<div formArrayName="formArrayName" *ngFor="let comm of formGroup.get('comments').controls; let idx = index">-->

        <mat-card>
            <ng-container>
                <mat-grid-list
                        formArrayName="items"
                        *ngFor="let itm of formGroup.get('items')['controls']; let idx= index"
                        cols="12" rowHeight="2:1">
                    <ng-container [formGroupName]="idx">

                        <!-- 1st column-->
                        <mat-grid-tile colspan="3" rowspan="3">
                            <div class="gridtileContainer mat-elevation-z2">


                                <mat-form-field>
                                    <mat-label>{{lbs.actionPriority}}</mat-label>
                                    <!--<input matInput formControlName="actionPriority">-->
                                    <mat-select matInput formControlName="actionPriority">
                                        <mat-option *ngFor="let pty of priorities" [value]="pty">{{pty}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">

                                    <input type="text" placeholder="{{lbs.action}}" aria-label="Number"
                                           matInput [matAutocomplete]="auto" formControlName="action">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of actionNeeded;"
                                                    [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <!--
                         2nd column



                        -->

                        <mat-grid-tile colspan="3" rowspan="3">


                            <div class="gridtileContainer mat-elevation-z2">
                                <app-typeahead-reactive-form
                                [formGroup]="itm"
                                [lookUpData]="orgs"

                                >

                                </app-typeahead-reactive-form>
                                <!--<mat-form-field class="example-full-width">-->
                                    <!--<input type="text" placeholder="Pick one" aria-label="Number"-->
                                           <!--matInput [matAutocomplete]="auto">-->
                                    <!--<mat-autocomplete #auto="matAutocomplete">-->
                                        <!--<mat-option *ngFor="let option of orgs" [value]="option.name">-->
                                            <!--{{option.name}}-->
                                        <!--</mat-option>-->
                                    <!--</mat-autocomplete>-->
                                <!--</mat-form-field>-->

                                <!--<mat-form-field>-->
                                    <!--<input matInput formControlName="orgId">-->
                                    <!--<mat-autocomplete>-->
                                        <!--<mat-option *ngFor="let org of ['arrrrr','brrrrrr','crrrrr']" [value]="org">{{org}}</mat-option>-->
                                    <!--</mat-autocomplete>-->
                                    <!--&lt;!&ndash;<mat-label>{{lbs.orgId}}</mat-label>&ndash;&gt;-->

                                <!--</mat-form-field>-->

                                <mat-form-field>
                                    <mat-label>{{lbs.personsId}}</mat-label>
                                    <input matInput formControlName="personsId">
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <!--
                         3rd column
                        -->
                        <mat-grid-tile colspan="5" rowspan="6">
                            <div class="gridtileContainer mat-elevation-z2">

                                <mat-form-field>
                                    <mat-label>{{lbs.notes}}</mat-label>
                                    <textarea placeholder="Describe in 5 lines"
                                              cdkTextareaAutosize
                                              #autosize="cdkTextareaAutosize"
                                              cdkAutosizeMinRows="1"
                                              cdkAutosizeMaxRows="3"
                                              matInput formControlName="notes"></textarea>
                                </mat-form-field>


                            </div>
                        </mat-grid-tile>

                        <!--
                      4rd column
                      -->

                      <mat-grid-tile colspan="1" rowspan="6">
                          <button mat-mini-fab color='warn'(click)="deleteItem($event, idx)">
                              <mat-icon>delete</mat-icon>
                          </button>
                      </mat-grid-tile>
                      <!--
                     5th column
                     typeOfAction = 'Type of Action',
                     action = 'Action needed',
                     finishOn = 'Complete by',
                     actionPriority = 'priority',
                     done = 'is Complete',
                     rating = 'importance', // 1 - 5;
                     startOn = 'Starting on',
                     personsId = 'Contact',
                     orgId = 'Organisation',
                     notes = 'Comments',


                     -->
                        <mat-grid-tile colspan="3" rowspan="3">
                            <div class="gridtileContainer mat-elevation-z2">

                                <div class="gridtileContainer mat-elevation-z2">

                                    <mat-form-field>
                                        <mat-label>{{lbs.startOn}}</mat-label>
                                        <input matInput
                                               [matDatepicker]="myDatepicker"
                                               formControlName="finishOn">
                                        <mat-datepicker-toggle
                                                matSuffix
                                                [for]="myDatepicker">
                                        </mat-datepicker-toggle>

                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>{{lbs.finishOn}}</mat-label>
                                        <input matInput
                                               [matDatepicker]="finishOnDatepicker"
                                               formControlName="finishOn">
                                        <mat-datepicker-toggle
                                                matSuffix
                                                [for]="finishOnDatepicker">
                                        </mat-datepicker-toggle>

                                        <mat-datepicker #finishOnDatepicker></mat-datepicker>
                                    </mat-form-field>

                                </div>
                            </div>
                        </mat-grid-tile>

                        <!--
                        6th column
                       typeOfAction = 'Type of Action',
                       done = 'is Complete',
                       rating = 'importance', // 1 - 5;
                       -->
                        <mat-grid-tile colspan="3" rowspan="3">
                            <div class="gridtileContainer mat-elevation-z2">

                                <div class="gridtileContainer mat-elevation-z2">


                                    <mat-checkbox matInput formControlName="done">{{lbs.done}}</mat-checkbox>


                                    <mat-form-field>
                                        <mat-label>{{lbs.rating}}</mat-label>
                                        <input matInput formControlName="rating">
                                    </mat-form-field>
                                </div>


                            </div>
                        </mat-grid-tile>

                    </ng-container>
                </mat-grid-list>
            </ng-container>
        </mat-card>



