<div class="sca-container">

    <div class="sca-header">SELECTED CAMPAIGN: {{campName}}</div>
<!--    <div class="sca-col1" *ngIf="showCols">-->
<!--        <ng-container *ngTemplateOutlet="selectCreateOrExisting"></ng-container>-->
<!--    </div>-->

    <div class="sca-col1">
        <app-find-in-list-sf
                [fldName]="'name'"
                (selected)="onCampaignSelected($event)"
                [dataSource$]="campLookup$"
                (addNewEvent)="addNew()">
        </app-find-in-list-sf>
    </div>
    <div class="sca-col2">
        <ng-container *ngTemplateOutlet="enterNewCampaign"></ng-container>
    </div>



    <app-stepp-navbar style="grid-area:d "></app-stepp-navbar>

<!--
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -

                                   TEMPLATE: Campaign add form
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -
-->
<ng-template #enterNewCampaign>

    <ng-container [formGroup]="formGroupCam">

        <mat-form-field>
            <input type="text"
                   id="org-name"
                   matInput
                   formControlName="name"
                   placeholder="call it something">
        </mat-form-field>
        <mat-form-field>
      <textarea formControlName="description"
                matInput
                placeholder="describe it"
                ></textarea>
        </mat-form-field>
    </ng-container>

</ng-template>
