<div class="sca-container">

    <div class="sca-header">SELECTED CAMPAIGN: {{campName}}</div>
    <div class="sca-col1" *ngIf="showCols">
        <ng-container *ngTemplateOutlet="selectCreateOrExisting"></ng-container>
    </div>
    <div class="sca-col2" *ngIf="createCampaignFlag !== null && showCols">
        <ng-container *ngIf="createCampaignFlag; else campSelect">
            <ng-container *ngTemplateOutlet="enterNewCampaign"></ng-container>
        </ng-container>
    </div>
<!--    <div class="sca-footer">-->
<!--    <button mat-raised-button (click)="doAfterCampSelectedContinue()">CONTINUE</button>-->
<!--    <button mat-raised-button (click)="doReset()">RESET</button>-->
<!--        <button mat-button matStepperNext>-->
<!--            <mat-icon>arrow_forward</mat-icon>-->
<!--        </button>-->
<!--        <button mat-button matStepperPrevious>-->
<!--            <mat-icon>arrow_backward</mat-icon>-->
<!--        </button>-->
<!--    </div>-->
    <app-stepp-navbar style="grid-area:d "></app-stepp-navbar>
<!--</div>-->

jl;kajdl;asdjfkls
<!--
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -

                                   TEMPLATE: Campaign add
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -
-->

<ng-template #selectCreateOrExisting>

   <div class="radio-group-container">
       <span id="group-label">campaign</span>
       <mat-radio-group [(ngModel)]="createCampaignFlag" color="primary">
           <mat-radio-button
                   *ngIf="createCampaignFlag !==true"
                   [value]="false">existing</mat-radio-button>
           <mat-radio-button
                   *ngIf="createCampaignFlag !== false"
                   [value]="true">create</mat-radio-button>
       </mat-radio-group>

   </div>

</ng-template>
<!--
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -

                                   TEMPLATE: Campaign Select ddpdwn
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -
-->
<ng-template #campSelect>

        <mat-form-field appearance="outline">
            <mat-label>existing campaign</mat-label>
            <input type="text"
                   (keyup)="onKeydown($event)"
                   matInput [matAutocomplete]="selCmp">
            <mat-icon matSuffix style="color: #575757">arrow_drop_down</mat-icon>
            <mat-autocomplete
                    [displayWith]="displayFn"
                    #selCmp="matAutocomplete">
                <mat-option
                        (onSelectionChange)="selectionChange($event)"
                        [value]="op"
                        *ngFor="let op of campLookup$|async ">
                    {{op.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
</ng-template>
<!--
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -

                                   TEMPLATE: Campaign add form
... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - - ... - -
-->
<ng-template #enterNewCampaign>

    <div class="enterCamp-container" [formGroup]="formGroupCam">

        <mat-form-field>
            <input type="text"
                   id="org-name"
                   matInput
                   formControlName="name"
                   placeholder="call it something">
        </mat-form-field>
        <mat-form-field>
      <textarea formControlName="description"
                matInput
                placeholder="describe it"
                ></textarea>
        </mat-form-field>
    </div>

</ng-template>
