<ng-container [formGroup]="fm">
    <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

    <ng-container>
        <table class="dynamic-subform-web">
            <tr [formArrayName]="formArrayName" *ngFor="let telno of getFormArrayControls(); let idx = index">
                <ng-container [formGroupName]="idx">
                    <td>
                        <mat-form-field>
                            <mat-label>Url</mat-label>
                            <input matInput formControlName="address">

                            <!--<input matInput formControlName="note">-->
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>Notes</mat-label>
                            <input matInput formControlName="note">
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="addItem('web')"
                                    mat-menu-item>
                                <mat-icon>add</mat-icon>add one
                            </button>
                            <button (click)="deleteItem('web', idx)"
                                    mat-menu-item>
                                <mat-icon>delete</mat-icon>delete
                            </button>
                        </mat-menu>
                    </td>


                </ng-container>
            </tr>
        </table>
    </ng-container>
    <!--</div>-->

</ng-container>
