<mat-toolbar>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="../organisation-menu">Organisations</button>
  <button mat-button routerLink="../campaign-menu">Campaigns</button>
</mat-toolbar>
<mat-toolbar>
  <button (click)="leftPanel.toggle()">toggle left</button>
  <!--<button (click)="toggle('right')">toggle right</button>-->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened  mode="side" #leftPanel style="height: 1000px; background-color: lightgrey">
    whats going on
    <ul>
      <li>
        <a mat-button [routerLink]="['/']">DASHBOARD</a>
      </li>
      <li>
        <a mat-button  routerLink="add">ADD</a>
      </li>

      <li>
        <a mat-button routerLink="orgs-table">FIND</a>
      </li>



      <li>
        <!--<a mat-button routerLink="\">ADD PEOPLE</a>-->
      </li>

      <li>
        <!--<a mat-button routerLink="\">HOME</a>-->
      </li>


    </ul>
  </mat-sidenav>
  <mat-sidenav   mode="over" #rightPanel position="end" style="width: 100%">
    <app-edit-organisation></app-edit-organisation>
    sdjfds
  </mat-sidenav>
  <mat-sidenav-content style="height: 1000px; background-color:  grey">
    <router-outlet></router-outlet>
    some content
  </mat-sidenav-content>

</mat-sidenav-container>


