
ul > li {
  list-style: none;
}


//.draw-container {
//  height: 90vh;
//}


mat-sidenav-content {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  padding-right: 360px;
  //justify-content: flex-start;
  //justify-items: flex-start;
  //align-items: flex-start;


}

mat-sidenav {

}