<div class="scai-container">

    <div class="scai-header">
        SELECTED ORGANISATION :{{orgName}}
    </div>
    <div class="scai-col1">
        <ng-container *ngTemplateOutlet="ChooseCreateTmpl"></ng-container>
    </div>
    <div class="scai-col2">
        <ng-container *ngIf="newOrgFlag else SelectCompanyTmpl">
            <ng-container *ngTemplateOutlet="OrgTmpl"></ng-container>
        </ng-container>
    </div>
<!--    <div class="scai-footer">-->
<!--        <button mat-button matStepperNext>-->
<!--            <mat-icon>arrow_forward</mat-icon>-->
<!--        </button>-->
<!--    </div>-->
    <app-stepp-navbar style="grid-area:d "></app-stepp-navbar>
</div>

<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~


~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->
<ng-template #ChooseCreateTmpl>

    <div class="radio-group-container">
        <span>Organisation</span>
        <mat-radio-group [(ngModel)]="newOrgFlag">
            <mat-radio-button [value]="false">Existing</mat-radio-button>
            <mat-radio-button [value]="true">Create</mat-radio-button>
        </mat-radio-group>
    </div>


</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~


~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #SelectCompanyTmpl>

    <mat-form-field>
        <input type="text"
               (keyup)="onKeyup($event)"
               matInput
               [matAutocomplete]="autoOrg">
        <mat-autocomplete
                (optionSelected)="onOptionSelected($event)"
                [displayWith]="displayWithFn"
                #autoOrg>
            <mat-option
                    [value]="a"
                    *ngFor="let a of orgsDrpDwn$ | async">{{a.name}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~


~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->
<ng-template #OrgTmpl>

    <mat-card [formGroup]="formGroupOrg" class="formAddOrg">
        <mat-form-field>
            <input type="text"
                   placeholder="name"
                   matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <textarea
                    matTextareaAutosize
                    placeholder="address"
                    formControlName="address"
                    matAutosize="false"
                    matAutosizeMinRows="5"
                    cols="160"
                    matInput>

            </textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sector</mat-label>
            <mat-select >
                <mat-option [value]='sector'
                            *ngFor="let sector of ['law', 'fin']">{{sector}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>type of organisation</mat-label>
            <mat-select>
                <mat-option [value]="ot"
                            *ngFor="let ot of ['bus','charity']">{{ot}}</mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngTemplateOutlet="telEditTempl; context:{fm: formGroupOrg, parent: me}"></ng-container>
        <ng-container *ngTemplateOutlet="emailEditTempl; context:{fm: formGroupOrg, parent: me}"></ng-container>
        <ng-container *ngTemplateOutlet="webEditTempl; context:{fm: formGroupOrg, parent: me}"></ng-container>

<!--        <mat-form-field>-->
<!--            <input type="text" matInput placeholder="placeholder">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--            <input type="text" matInput placeholder="placeholder1">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--            <input type="text" matInput placeholder="placeholder2">-->
<!--        </mat-form-field>-->

    </mat-card>


</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
 Telephone Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #telEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <ng-container>
            <table class="dynamic-subform-tel">
                <tr formArrayName="telNos" *ngFor="let telno of fm.get('telNos').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <!--<mat-label>TelNo</mat-label>-->
                                <input matInput formControlName="telNo" placeholder="Telephone">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <!--<mat-label></mat-label>-->
                                <input matInput formControlName="note" placeholder="comment">
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('telNos')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('telNos', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>

                    </ng-container>
                </tr>
            </table>
        </ng-container>
    </ng-container>
</ng-template>


<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
 Email Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #emailEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table class="dynamic-subform-email">
                <tr formArrayName="emails" *ngFor="let email of fm.get('emails').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>

                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('emails')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('emails', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>
</ng-template>

<!--
~~--~~ ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
Web Sublist template

~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~  ~~--~~
-->

<ng-template #webEditTempl let-fm="fm" let-parent="parent">

    <ng-container [formGroup]="fm">
        <!--<div formArrayName="telNos" *ngFor="let telno of formGrp.get('telNos').controls; let idx = index">-->

        <ng-container>
            <table class="dynamic-subform-web">
                <tr formArrayName="web" *ngFor="let telno of fm.get('web').controls; let idx = index">
                    <ng-container [formGroupName]="idx">
                        <td>
                            <mat-form-field>
                                <mat-label>Url</mat-label>
                                <input matInput formControlName="address">

                                <!--<input matInput formControlName="note">-->
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Notes</mat-label>
                                <input matInput formControlName="note">
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="addItem('web')"
                                        mat-menu-item>
                                    <mat-icon>add</mat-icon>add one
                                </button>
                                <button (click)="deleteItem('web', idx)"
                                        mat-menu-item>
                                    <mat-icon>delete</mat-icon>delete
                                </button>
                            </mat-menu>
                        </td>


                    </ng-container>
                </tr>
            </table>
        </ng-container>
        <!--</div>-->

    </ng-container>
</ng-template>

